@using Microsoft.AspNetCore.Identity
@using TodoListApp.WebApp.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="display: inline-block; vertical-align: middle;">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="searchDropdown" style="min-width: 350px; max-width: 500px; max-height: 500px; overflow-y: auto;">
            <li class="px-3 py-2">
                <input type="text" id="searchTermInput" class="form-control form-control-sm" placeholder="Search tasks..." autocomplete="off" />
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <div id="searchResults" style="max-height: 400px; overflow-y: auto;">
                    <div class="px-3 py-2 text-muted small">Start typing to search...</div>
                </div>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "TodoLists", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
