@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="mt-5">
        <a asp-controller="TodoLists" asp-action="Index" class="btn btn-primary btn-lg px-5 py-3" style="font-size: 1.25rem; font-weight: 600;">
            My To-do Lists
        </a>
    </div>
</div>
